@media (min-width: 1650px) {
    #zero {
        position: absolute;
        display:block;
        top: 260px;
        left: 825px;
        background-color: black;
        opacity: 80%;
        border-radius: 10%;
        font-weight: bolder;
        width: 50px; 
        height: 50px; 
        border: 1px solid rgb(64, 107, 147);
    }
    #one {
        position: absolute;
        display:block;
        top: 260px;
        left: 875px;
        background-color: black;
        opacity: 80%;
        border-radius: 10%;
        font-weight: bolder;
        width: 50px; 
        height: 50px; 
        border: 1px solid rgb(64, 107, 147);
    }
    #two {
        position: absolute;
        display:block;
        top: 310px;
        left: 825px;
        background-color: black;
        opacity: 80%;
        border-radius: 10%;
        font-weight: bolder;
        width: 50px; 
        height: 50px; 
        border: 1px solid rgb(64, 107, 147);
    }
    #three {
        position: absolute;
        display:block;
        top: 310px;
        left: 875px;
        background-color: black;
        opacity: 80%;
        border-radius: 10%;
        font-weight: bolder;
        width: 50px; 
        height: 50px; 
        border: 1px solid rgb(64, 107, 147);
    }
    #righttop {
        position: absolute;
        display:block;
        top: 260px;
        left: 950px;
        background-color: rgb(30, 78, 154);
        opacity: 80%;
        border-radius: 10%;
        font-weight: bolder;
        color: blanchedalmond;
        width: 60px;
    }
    #rightbottom {
        position: absolute;
        display:block;
        top: 320px;
        left: 950px;
        background-color: rgb(30, 78, 154);
        opacity: 80%;
        border-radius: 10%;
        font-weight: bolder;
        color: blanchedalmond;
        width: 60px;
    }
    #downright {
        position: absolute;
        display:block;
        top: 380px;
        left: 880px;
        background-color: rgb(30, 78, 154);
        opacity: 80%;
        border-radius: 10%;
        font-weight: bolder;
        color: blanchedalmond;
        width: 60px;
    }
    #downleft {
        position: absolute;
        display:block;
        top: 380px;
        left: 810px;
        background-color: rgb(30, 78, 154);
        opacity: 80%;
        border-radius: 10%;
        font-weight: bolder;
        color: blanchedalmond;
        width: 60px;
    }
    #leftbottom {
        position: absolute;
        display:block;
        top: 320px;
        left: 750px;
        background-color: rgb(30, 78, 154);
        opacity: 80%;
        border-radius: 10%;
        font-weight: bolder;
        color: blanchedalmond;
        width: 60px;
    }
    #lefttop {
        position: absolute;
        display:block;
        top: 260px;
        left: 750px;
        background-color: rgb(30, 78, 154);
        opacity: 80%;
        border-radius: 10%;
        font-weight: bolder;
        color: blanchedalmond;
        width: 60px;
    }
    #upleft {
        position: absolute;
        display:block;
        top: 200px;
        left: 810px;
        background-color: rgb(30, 78, 154);
        opacity: 80%;
        border-radius: 10%;
        font-weight: bolder;
        color: blanchedalmond;
        width: 60px;
    }
    #upright {
        position: absolute;
        display:block;
        top: 200px;
        left: 880px;
        background-color: rgb(30, 78, 154);
        opacity: 80%;
        border-radius: 10%;
        font-weight: bolder;
        color: blanchedalmond;
        width: 60px;
    }
    }

@media (max-width: 1650px) {
    #zero {
        position: absolute;
        display:block;
        top: 260px;
        left: 725px;
        background-color: black;
        opacity: 80%;
        border-radius: 10%;
        font-weight: bolder;
        width: 50px; 
        height: 50px; 
        border: 1px solid rgb(64, 107, 147);
    }
    #one {
        position: absolute;
        display:block;
        top: 260px;
        left: 775px;
        background-color: black;
        opacity: 80%;
        border-radius: 10%;
        font-weight: bolder;
        width: 50px; 
        height: 50px; 
        border: 1px solid rgb(64, 107, 147);
    }
    #two {
        position: absolute;
        display:block;
        top: 310px;
        left: 725px;
        background-color: black;
        opacity: 80%;
        border-radius: 10%;
        font-weight: bolder;
        width: 50px; 
        height: 50px; 
        border: 1px solid rgb(64, 107, 147);
    }
    #three {
        position: absolute;
        display:block;
        top: 310px;
        left: 775px;
        background-color: black;
        opacity: 80%;
        border-radius: 10%;
        font-weight: bolder;
        width: 50px; 
        height: 50px; 
        border: 1px solid rgb(64, 107, 147);
    }
    #righttop {
        position: absolute;
        display:block;
        top: 260px;
        left: 850px;
        background-color: rgb(30, 78, 154);
        opacity: 80%;
        border-radius: 10%;
        font-weight: bolder;
        color: blanchedalmond;
        width: 60px;
    }
    #rightbottom {
        position: absolute;
        display:block;
        top: 320px;
        left: 850px;
        background-color: rgb(30, 78, 154);
        opacity: 80%;
        border-radius: 10%;
        font-weight: bolder;
        color: blanchedalmond;
        width: 60px;
    }
    #downright {
        position: absolute;
        display:block;
        top: 380px;
        left: 780px;
        background-color: rgb(30, 78, 154);
        opacity: 80%;
        border-radius: 10%;
        font-weight: bolder;
        color: blanchedalmond;
        width: 60px;
    }
    #downleft {
        position: absolute;
        display:block;
        top: 380px;
        left: 710px;
        background-color: rgb(30, 78, 154);
        opacity: 80%;
        border-radius: 10%;
        font-weight: bolder;
        color: blanchedalmond;
        width: 60px;
    }
    #leftbottom {
        position: absolute;
        display:block;
        top: 320px;
        left: 650px;
        background-color: rgb(30, 78, 154);
        opacity: 80%;
        border-radius: 10%;
        font-weight: bolder;
        color: blanchedalmond;
        width: 60px;
    }
    #lefttop {
        position: absolute;
        display:block;
        top: 260px;
        left: 650px;
        background-color: rgb(30, 78, 154);
        opacity: 80%;
        border-radius: 10%;
        font-weight: bolder;
        color: blanchedalmond;
        width: 60px;
    }
    #upleft {
        position: absolute;
        display:block;
        top: 200px;
        left: 710px;
        background-color: rgb(30, 78, 154);
        opacity: 80%;
        border-radius: 10%;
        font-weight: bolder;
        color: blanchedalmond;
        width: 60px;
    }
    #upright {
        position: absolute;
        display:block;
        top: 200px;
        left: 780px;
        background-color: rgb(30, 78, 154);
        opacity: 80%;
        border-radius: 10%;
        font-weight: bolder;
        color: blanchedalmond;
        width: 60px;
    }
    }

@media (max-width: 1250px) {
#zero {
    position: absolute;
    display:block;
    top: 260px;
    left: 625px;
    background-color: black;
    opacity: 80%;
    border-radius: 10%;
    font-weight: bolder;
    width: 50px; 
    height: 50px; 
    border: 1px solid rgb(64, 107, 147);
}
#one {
    position: absolute;
    display:block;
    top: 260px;
    left: 675px;
    background-color: black;
    opacity: 80%;
    border-radius: 10%;
    font-weight: bolder;
    width: 50px; 
    height: 50px; 
    border: 1px solid rgb(64, 107, 147);
}
#two {
    position: absolute;
    display:block;
    top: 310px;
    left: 625px;
    background-color: black;
    opacity: 80%;
    border-radius: 10%;
    font-weight: bolder;
    width: 50px; 
    height: 50px; 
    border: 1px solid rgb(64, 107, 147);
}
#three {
    position: absolute;
    display:block;
    top: 310px;
    left: 675px;
    background-color: black;
    opacity: 80%;
    border-radius: 10%;
    font-weight: bolder;
    width: 50px; 
    height: 50px; 
    border: 1px solid rgb(64, 107, 147);
}
#righttop {
    position: absolute;
    display:block;
    top: 260px;
    left: 750px;
    background-color: rgb(30, 78, 154);
    opacity: 80%;
    border-radius: 10%;
    font-weight: bolder;
    color: blanchedalmond;
    width: 60px;
}
#rightbottom {
    position: absolute;
    display:block;
    top: 320px;
    left: 750px;
    background-color: rgb(30, 78, 154);
    opacity: 80%;
    border-radius: 10%;
    font-weight: bolder;
    color: blanchedalmond;
    width: 60px;
}
#downright {
    position: absolute;
    display:block;
    top: 380px;
    left: 680px;
    background-color: rgb(30, 78, 154);
    opacity: 80%;
    border-radius: 10%;
    font-weight: bolder;
    color: blanchedalmond;
    width: 60px;
}
#downleft {
    position: absolute;
    display:block;
    top: 380px;
    left: 610px;
    background-color: rgb(30, 78, 154);
    opacity: 80%;
    border-radius: 10%;
    font-weight: bolder;
    color: blanchedalmond;
    width: 60px;
}
#leftbottom {
    position: absolute;
    display:block;
    top: 320px;
    left: 550px;
    background-color: rgb(30, 78, 154);
    opacity: 80%;
    border-radius: 10%;
    font-weight: bolder;
    color: blanchedalmond;
    width: 60px;
}
#lefttop {
    position: absolute;
    display:block;
    top: 260px;
    left: 550px;
    background-color: rgb(30, 78, 154);
    opacity: 80%;
    border-radius: 10%;
    font-weight: bolder;
    color: blanchedalmond;
    width: 60px;
}
#upleft {
    position: absolute;
    display:block;
    top: 200px;
    left: 610px;
    background-color: rgb(30, 78, 154);
    opacity: 80%;
    border-radius: 10%;
    font-weight: bolder;
    color: blanchedalmond;
    width: 60px;
}
#upright {
    position: absolute;
    display:block;
    top: 200px;
    left: 680px;
    background-color: rgb(30, 78, 154);
    opacity: 80%;
    border-radius: 10%;
    font-weight: bolder;
    color: blanchedalmond;
    width: 60px;
}
}

#news {
    position: absolute;
    display:block;
    top: 10px;
    left: 1%;
    color: rgb(0, 5, 2);
    opacity: 80%;
    border-radius: 10%;
    font-weight: bolder;
    font-size: larger;
    width: 250px;
    height: 125px;
    background-color: rgb(227, 227, 136);

}

@media (max-width: 1250px) {
    #zero {
        position: absolute;
        display:block;
        top: 260px;
        left: 525px;
        background-color: black;
        opacity: 80%;
        border-radius: 10%;
        font-weight: bolder;
        width: 50px; 
        height: 50px; 
        border: 1px solid rgb(64, 107, 147);
    }
    #one {
        position: absolute;
        display:block;
        top: 260px;
        left: 575px;
        background-color: black;
        opacity: 80%;
        border-radius: 10%;
        font-weight: bolder;
        width: 50px; 
        height: 50px; 
        border: 1px solid rgb(64, 107, 147);
    }
    #two {
        position: absolute;
        display:block;
        top: 310px;
        left: 525px;
        background-color: black;
        opacity: 80%;
        border-radius: 10%;
        font-weight: bolder;
        width: 50px; 
        height: 50px; 
        border: 1px solid rgb(64, 107, 147);
    }
    #three {
        position: absolute;
        display:block;
        top: 310px;
        left: 575px;
        background-color: black;
        opacity: 80%;
        border-radius: 10%;
        font-weight: bolder;
        width: 50px; 
        height: 50px; 
        border: 1px solid rgb(64, 107, 147);
    }
    #righttop {
        position: absolute;
        display:block;
        top: 260px;
        left: 650px;
        background-color: rgb(30, 78, 154);
        opacity: 80%;
        border-radius: 10%;
        font-weight: bolder;
        color: blanchedalmond;
        width: 60px;
    }
    #rightbottom {
        position: absolute;
        display:block;
        top: 320px;
        left: 650px;
        background-color: rgb(30, 78, 154);
        opacity: 80%;
        border-radius: 10%;
        font-weight: bolder;
        color: blanchedalmond;
        width: 60px;
    }
    #downright {
        position: absolute;
        display:block;
        top: 380px;
        left: 580px;
        background-color: rgb(30, 78, 154);
        opacity: 80%;
        border-radius: 10%;
        font-weight: bolder;
        color: blanchedalmond;
        width: 60px;
    }
    #downleft {
        position: absolute;
        display:block;
        top: 380px;
        left: 510px;
        background-color: rgb(30, 78, 154);
        opacity: 80%;
        border-radius: 10%;
        font-weight: bolder;
        color: blanchedalmond;
        width: 60px;
    }
    #leftbottom {
        position: absolute;
        display:block;
        top: 320px;
        left: 450px;
        background-color: rgb(30, 78, 154);
        opacity: 80%;
        border-radius: 10%;
        font-weight: bolder;
        color: blanchedalmond;
        width: 60px;
    }
    #lefttop {
        position: absolute;
        display:block;
        top: 260px;
        left: 450px;
        background-color: rgb(30, 78, 154);
        opacity: 80%;
        border-radius: 10%;
        font-weight: bolder;
        color: blanchedalmond;
        width: 60px;
    }
    #upleft {
        position: absolute;
        display:block;
        top: 200px;
        left: 510px;
        background-color: rgb(30, 78, 154);
        opacity: 80%;
        border-radius: 10%;
        font-weight: bolder;
        color: blanchedalmond;
        width: 60px;
    }
    
    #upright {
        position: absolute;
        display:block;
        top: 200px;
        left: 580px;
        background-color: rgb(30, 78, 154);
        opacity: 80%;
        border-radius: 10%;
        font-weight: bolder;
        color: blanchedalmond;
        width: 60px;
    }
    
    #news {
        position: absolute;
        display:block;
        top: 10px;
        left: 1%;
        color: rgb(0, 5, 2);
        opacity: 80%;
        border-radius: 10%;
        font-weight: bolder;
        font-size: larger;
        width: 250px;
        height: 125px;
        background-color: rgb(227, 227, 136);
    
    }

}

@media (max-width: 1050px) {
    #zero {
        position: absolute;
        display:block;
        top: 260px;
        left: 425px;
        background-color: black;
        opacity: 80%;
        border-radius: 10%;
        font-weight: bolder;
        width: 50px; 
        height: 50px; 
        border: 1px solid rgb(64, 107, 147);
    }
    #one {
        position: absolute;
        display:block;
        top: 260px;
        left: 475px;
        background-color: black;
        opacity: 80%;
        border-radius: 10%;
        font-weight: bolder;
        width: 50px; 
        height: 50px; 
        border: 1px solid rgb(64, 107, 147);
    }
    #two {
        position: absolute;
        display:block;
        top: 310px;
        left: 425px;
        background-color: black;
        opacity: 80%;
        border-radius: 10%;
        font-weight: bolder;
        width: 50px; 
        height: 50px; 
        border: 1px solid rgb(64, 107, 147);
    }
    #three {
        position: absolute;
        display:block;
        top: 310px;
        left: 475px;
        background-color: black;
        opacity: 80%;
        border-radius: 10%;
        font-weight: bolder;
        width: 50px; 
        height: 50px; 
        border: 1px solid rgb(64, 107, 147);
    }
    #righttop {
        position: absolute;
        display:block;
        top: 260px;
        left: 550px;
        background-color: rgb(30, 78, 154);
        opacity: 80%;
        border-radius: 10%;
        font-weight: bolder;
        color: blanchedalmond;
        width: 60px;
    }
    #rightbottom {
        position: absolute;
        display:block;
        top: 320px;
        left: 550px;
        background-color: rgb(30, 78, 154);
        opacity: 80%;
        border-radius: 10%;
        font-weight: bolder;
        color: blanchedalmond;
        width: 60px;
    }
    #downright {
        position: absolute;
        display:block;
        top: 380px;
        left: 500px;
        background-color: rgb(30, 78, 154);
        opacity: 80%;
        border-radius: 10%;
        font-weight: bolder;
        color: blanchedalmond;
        width: 60px;
    }
    #downleft {
        position: absolute;
        display:block;
        top: 380px;
        left: 410px;
        background-color: rgb(30, 78, 154);
        opacity: 80%;
        border-radius: 10%;
        font-weight: bolder;
        color: blanchedalmond;
        width: 60px;
    }
    #leftbottom {
        position: absolute;
        display:block;
        top: 320px;
        left: 350px;
        background-color: rgb(30, 78, 154);
        opacity: 80%;
        border-radius: 10%;
        font-weight: bolder;
        color: blanchedalmond;
        width: 60px;
    }
    #lefttop {
        position: absolute;
        display:block;
        top: 260px;
        left: 350px;
        background-color: rgb(30, 78, 154);
        opacity: 80%;
        border-radius: 10%;
        font-weight: bolder;
        color: blanchedalmond;
        width: 60px;
    }
    #upleft {
        position: absolute;
        display:block;
        top: 200px;
        left: 410px;
        background-color: rgb(30, 78, 154);
        opacity: 80%;
        border-radius: 10%;
        font-weight: bolder;
        color: blanchedalmond;
        width: 60px;
    }
    
    #upright {
        position: absolute;
        display:block;
        top: 200px;
        left: 480px;
        background-color: rgb(30, 78, 154);
        opacity: 80%;
        border-radius: 10%;
        font-weight: bolder;
        color: blanchedalmond;
        width: 60px;
    }
    
    #news {
        position: absolute;
        display:block;
        top: 10px;
        left: 1%;
        color: rgb(0, 5, 2);
        opacity: 80%;
        border-radius: 10%;
        font-weight: bolder;
        font-size: larger;
        width: 250px;
        height: 125px;
        background-color: rgb(227, 227, 136);
    
    }

}

@media (max-width: 850px) {
    #zero {
        position: absolute;
        display:block;
        top: 260px;
        left: 325px;
        background-color: black;
        opacity: 80%;
        border-radius: 10%;
        font-weight: bolder;
        width: 50px; 
        height: 50px; 
        border: 1px solid rgb(64, 107, 147);
    }
    #one {
        position: absolute;
        display:block;
        top: 260px;
        left: 375px;
        background-color: black;
        opacity: 80%;
        border-radius: 10%;
        font-weight: bolder;
        width: 50px; 
        height: 50px; 
        border: 1px solid rgb(64, 107, 147);
    }
    #two {
        position: absolute;
        display:block;
        top: 310px;
        left: 325px;
        background-color: black;
        opacity: 80%;
        border-radius: 10%;
        font-weight: bolder;
        width: 50px; 
        height: 50px; 
        border: 1px solid rgb(64, 107, 147);
    }
    #three {
        position: absolute;
        display:block;
        top: 310px;
        left: 375px;
        background-color: black;
        opacity: 80%;
        border-radius: 10%;
        font-weight: bolder;
        width: 50px; 
        height: 50px; 
        border: 1px solid rgb(64, 107, 147);
    }
    #righttop {
        position: absolute;
        display:block;
        top: 260px;
        left: 450px;
        background-color: rgb(30, 78, 154);
        opacity: 80%;
        border-radius: 10%;
        font-weight: bolder;
        color: blanchedalmond;
        width: 60px;
    }
    #rightbottom {
        position: absolute;
        display:block;
        top: 320px;
        left: 450px;
        background-color: rgb(30, 78, 154);
        opacity: 80%;
        border-radius: 10%;
        font-weight: bolder;
        color: blanchedalmond;
        width: 60px;
    }
    #downright {
        position: absolute;
        display:block;
        top: 380px;
        left: 400px;
        background-color: rgb(30, 78, 154);
        opacity: 80%;
        border-radius: 10%;
        font-weight: bolder;
        color: blanchedalmond;
        width: 60px;
    }
    #downleft {
        position: absolute;
        display:block;
        top: 380px;
        left: 310px;
        background-color: rgb(30, 78, 154);
        opacity: 80%;
        border-radius: 10%;
        font-weight: bolder;
        color: blanchedalmond;
        width: 60px;
    }
    #leftbottom {
        position: absolute;
        display:block;
        top: 320px;
        left: 250px;
        background-color: rgb(30, 78, 154);
        opacity: 80%;
        border-radius: 10%;
        font-weight: bolder;
        color: blanchedalmond;
        width: 60px;
    }
    #lefttop {
        position: absolute;
        display:block;
        top: 260px;
        left: 250px;
        background-color: rgb(30, 78, 154);
        opacity: 80%;
        border-radius: 10%;
        font-weight: bolder;
        color: blanchedalmond;
        width: 60px;
    }
    #upleft {
        position: absolute;
        display:block;
        top: 200px;
        left: 310px;
        background-color: rgb(30, 78, 154);
        opacity: 80%;
        border-radius: 10%;
        font-weight: bolder;
        color: blanchedalmond;
        width: 60px;
    }
    
    #upright {
        position: absolute;
        display:block;
        top: 200px;
        left: 380px;
        background-color: rgb(30, 78, 154);
        opacity: 80%;
        border-radius: 10%;
        font-weight: bolder;
        color: blanchedalmond;
        width: 60px;
    }
    
    #news {
        position: absolute;
        display:block;
        top: 10px;
        left: 1%;
        color: rgb(0, 5, 2);
        opacity: 80%;
        border-radius: 10%;
        font-weight: bolder;
        font-size: larger;
        width: 250px;
        height: 125px;
        background-color: rgb(227, 227, 136);
    
    }

}

@media (max-width: 650px) {
    #zero {
        position: absolute;
        display:block;
        top: 260px;
        left: 225px;
        background-color: black;
        opacity: 80%;
        border-radius: 10%;
        font-weight: bolder;
        width: 50px; 
        height: 50px; 
        border: 1px solid rgb(64, 107, 147);
    }
    #one {
        position: absolute;
        display:block;
        top: 260px;
        left: 275px;
        background-color: black;
        opacity: 80%;
        border-radius: 10%;
        font-weight: bolder;
        width: 50px; 
        height: 50px; 
        border: 1px solid rgb(64, 107, 147);
    }
    #two {
        position: absolute;
        display:block;
        top: 310px;
        left: 225px;
        background-color: black;
        opacity: 80%;
        border-radius: 10%;
        font-weight: bolder;
        width: 50px; 
        height: 50px; 
        border: 1px solid rgb(64, 107, 147);
    }
    #three {
        position: absolute;
        display:block;
        top: 310px;
        left: 275px;
        background-color: black;
        opacity: 80%;
        border-radius: 10%;
        font-weight: bolder;
        width: 50px; 
        height: 50px; 
        border: 1px solid rgb(64, 107, 147);
    }
    #righttop {
        position: absolute;
        display:block;
        top: 260px;
        left: 350px;
        background-color: rgb(30, 78, 154);
        opacity: 80%;
        border-radius: 10%;
        font-weight: bolder;
        color: blanchedalmond;
        width: 60px;
    }
    #rightbottom {
        position: absolute;
        display:block;
        top: 320px;
        left: 350px;
        background-color: rgb(30, 78, 154);
        opacity: 80%;
        border-radius: 10%;
        font-weight: bolder;
        color: blanchedalmond;
        width: 60px;
    }
    #downright {
        position: absolute;
        display:block;
        top: 380px;
        left: 300px;
        background-color: rgb(30, 78, 154);
        opacity: 80%;
        border-radius: 10%;
        font-weight: bolder;
        color: blanchedalmond;
        width: 60px;
    }
    #downleft {
        position: absolute;
        display:block;
        top: 380px;
        left: 210px;
        background-color: rgb(30, 78, 154);
        opacity: 80%;
        border-radius: 10%;
        font-weight: bolder;
        color: blanchedalmond;
        width: 60px;
    }
    #leftbottom {
        position: absolute;
        display:block;
        top: 320px;
        left: 150px;
        background-color: rgb(30, 78, 154);
        opacity: 80%;
        border-radius: 10%;
        font-weight: bolder;
        color: blanchedalmond;
        width: 60px;
    }
    #lefttop {
        position: absolute;
        display:block;
        top: 260px;
        left: 150px;
        background-color: rgb(30, 78, 154);
        opacity: 80%;
        border-radius: 10%;
        font-weight: bolder;
        color: blanchedalmond;
        width: 60px;
    }
    #upleft {
        position: absolute;
        display:block;
        top: 200px;
        left: 210px;
        background-color: rgb(30, 78, 154);
        opacity: 80%;
        border-radius: 10%;
        font-weight: bolder;
        color: blanchedalmond;
        width: 60px;
    }
    
    #upright {
        position: absolute;
        display:block;
        top: 200px;
        left: 280px;
        background-color: rgb(30, 78, 154);
        opacity: 80%;
        border-radius: 10%;
        font-weight: bolder;
        color: blanchedalmond;
        width: 60px;
    }
    
    #news {
        position: absolute;
        display:block;
        top: 10px;
        left: 1%;
        color: rgb(0, 5, 2);
        opacity: 80%;
        border-radius: 10%;
        font-weight: bolder;
        font-size: larger;
        width: 250px;
        height: 125px;
        background-color: rgb(227, 227, 136);
    
    }

}

.center {
    text-align: center;
    margin: auto;
    width: 100px;
    border: 3px solid green;
    background-color: rgb(228, 110, 181);
    padding: 1px;
  }
