
h1 {
    font-size: 2em;
    text-align: center;
    background-color: #bee1bd;
}

h4 {
    font-size: 2em;
    text-align: center;
}
.spaced {
    opacity: 0%
}
#dCenter {
    position: relative;
    display: block;
    background-image: url("Where.jpeg");
    background-size: 100% 100%;
    width: 99%;
    height: 95%;
    color:   black;
    font-size: 10px;
    margin-top: 10px;
   
}
#winner {
  text-align: center;
}
